header {
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 120px 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid #ccc;
  max-width: 1000px;
}

.logo img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

h1 {
  font-size: 2rem;
  font-family: Acme, Arial, sans-serif;
}

nav {
  text-align: right;
}

.navigation {
  display: flex;
  list-style: none;
}

.navigation li {
  flex: 1 1 100%;
}

.navigation a {
  display: block;
  color: navy;
  padding: 20px;
  text-decoration: none;
}

.navigation a:hover {
  color: tomato;
  font-weight: 700;
  text-decoration: underline;
}


.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
  
    .footer-container {
      background-color: #95AAB6;
      display: flex;
    }
  
    .footer-container a {
      color: #F5F6F7;
      padding: 42px 16px;
      text-decoration: none;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: medium;
    }
  
    .footer-left {
      margin-right: auto
    }
  
    .fa:hover {
      color: #45405F;
    }
  
    .footer-icons {
      justify-content: space-between;
      padding: 16px 64px 0px 0px
    }
  
    .footer-icons ul {
      list-style-type: none;
    }
  
    .footer-icons li {
      display: inline-block;
    }
  
    .footer-right {
      margin-left: auto
    }
  
    .copyright {
      background-color: #F5F6F7;
      overflow: hidden;
    }
}

label {
  display: block;
  margin-top: 1rem;
}

button {
  margin-top: 1.5rem;
}